body{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 92.3vh;
    background: linear-gradient(180deg, #865DFF 0%, rgb(0, 0, 0) 100%);
    font-family: poppins, sans-serif;
    padding-top: 40px;
    font-size: 16px;
    font-weight: bolder;
}
.confirmation-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: #191825;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    color: #fff;
}
button{
    margin-top: 5px;
    background-color: #b14bec;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-family: poppins, sans-serif;
    margin-bottom: 10px;
}
button:hover {
    background-color: #5f2f80;
}
h1 {
    color: #4CAF50;
}
.details p {
    margin: 5px 0;
}
button[type="button"] {
    background-color: #191825;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-family: poppins, sans-serif;
}
.voltar::after {
    content: '\21B6'; 
    margin-left: 5px;
}
.data-container {
    font-size: 18px;
    margin-top: 20px;
}